<div class='col-md-10 col-lg-9'>
      <h2>ユーザ一覧<%= image_tag 'h2.png', :size =>'40x40' %></h2>
      <table class='table'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ユーザー名</th>
      <th>フォロー</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 150, 150, fallback: "noimage.jpeg", size:'100x100') %></td>
        <td><%= user.name %></td>
        <td><div class="follower">
          <%= link_to followers_user_path(user.id) do %>
          <h8 style="color: black;">フォロワー:<%= user.followers.count %></h5>
          <% end %>
        </div></td>
        <td><div class="follow">
          <%= link_to following_user_path(user.id) do %>
            <h8 style="color: black;">フォロー:<%= user.following.count %></h5>
          <% end %>
        </div></td>
        <td><div>
          <%= render "follow_form", user: @user %>
        </div></td>
        <td><%= link_to 'ユーザー詳細', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
</div>