 <div class='row'>
    <div class='col-md-9'>
      <h2>ユーザー情報</h2>
        <table class='table'>
          <tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "noimage.jpeg") %></tr>
          <tr>
        	  <th>名前</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>紹介文</th>
        	  <th><%= @user.introduction %></th>
        	</tr>
        	<tr>
        	  <th>フォロー数：</th>
        	  <th><%= current_user.followers.count %>人</th>
        	</tr>
        	<tr>
        	  <th>フォロワー数：</th>
        	  <th><%= current_user.following.count %>人</th>
        	</tr>
        </table>
        <div>
          <%= render "follow_form" %>
        </div>
    </div>
</div>
<div class='row'>
  <%= link_to 'ユーザー情報編集',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
</div>