 <div class='row'>
    <div class='col-md-9'>
      <h2>ユーザー情報</h2>
        <table class='table'>
          <tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "noimage.jpeg") %></tr>
          <tr>
        	  <th>名前</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>紹介文</th>
        	  <th><%= @user.introduction %></th>
        	</tr>
        </table>
        <div class="follower">
          <%= link_to followers_user_path(@user.id) do %>
            <h5 style="color: black;">フォロワー数:<%= @user.followers.count %></h5>
          <% end %>
        </div>
        <div class="follow">
          <%= link_to following_user_path(@user.id) do %>
            <h5 style="color: black;">フォロー数:<%= @user.following.count %></h5>
          <% end %>
        </div>
        <div>
          <%= render "follow_form" %>
        </div>
    </div>
</div>
<div class='row'>
  <%= link_to '',edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
</div>