<div class="row">
  <div class="col-md-3">
    <%= form_with model: @post, remote: true do |f| %>
      <%= f.label :post_image, '画像' %><br>
      <%= attachment_image_tag @post, :post_image, fallback: "noimage.jpeg", id: "img_prev", style: "height: 200px; width:200px;" %><br>
      <%= f.attachment_field :post_image, class: "form-control-file post_image" %><br>
      <%= f.label :title, 'タイトル' %><br>
      <%= f.text_field :title, class:'form-control' %><br>
      <%= f.label :text, '本文' %><br>
      <%= f.text_area :text, class:'form-control' %><br>
      <div class="category-form">
        <%= label_tag 'カテゴリー' %>
        <%= select_tag 'parent_id', options_for_select(@category_parent_array), id: 'parent-category', class: 'form-control post-category' %>
        <i class="fas fa-chevron-down"></i>
      </div><br>
      <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) do |cb| %>
        <%= cb.label { cb.check_box + ' ' + cb.text } %>
      <% end %><br>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
      <div class="rank">
      <h3>投稿記事ランキング</h3>
      <% lastFavorite = 0 %>
        <% j = 1 %>
        <% @all_ranks.each.with_index(1) do |ranking, i| %>
          <% if i == 1 %>
            <% lastFavorite = ranking.favorites.count %>
          <% end %>
          <% if ranking.favorites.count != lastFavorite %>
            <% j = i %>
            第<%= j %>位<br>
            <%= link_to ranking.user do %>
            <%= attachment_image_tag(ranking, :post_image, :fill, 200, 200, fallback: "noimage.jpeg") %><br>
            <%= ranking.user.name %><br>
          <% end %>
            いいね数：<%= ranking.favorites.count %>
            <% lastFavorite = ranking.favorites.count %>
          <% else %>
            <% lastFavorite = ranking.favorites.count %>
            第<%= j %>位<br>
            <%= link_to ranking.user do %>
            <%= attachment_image_tag(ranking, :post_image, :fill, 200, 200, fallback: "noimage.jpeg") %><br>
            <%= ranking.user.name %><br>
          <% end %>
            いいね数：<%= ranking.favorites.count %>
          <% end %>
          <br>
          <% end %>
      </div>
  </div>
  <div class="col-md-8">

    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>画像</th>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>本文</th>
          <th>カテゴリー</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'post_new', posts: @posts, post: @post %>
      </tbody>
    </table>
     <%= paginate @posts %>
  </div>
</div>



<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#post_post_image").change(function(){
    readURL(this);
  });
});
</script>