<div class="row">
  <div class="col-8">新規投稿
  <%= form_with model: @post, url:'/posts', local:true do |f| %>
  <div class="form_image">画像</div>
  <%= f.attachment_field :post_image %>
  <div class="form_title">タイトル</div>
  <%= f.text_field :title %>
  <div class="form_text">内容</div>
  <%= f.text_area :text %>
  <%= f.submit '投稿' %>
  <% end %>
  </div>
</div>