<div class='col-md-10 col-lg-9'>
    <h2>投稿記事</h2>
  <table class='table'>
    <tr><%= link_to @post do %>
        <%= attachment_image_tag(@post, :post_image, :fill, 220, 220, fallback: "noimage.jpeg") %>
        <% end %></tr>
    <tr>
      <th>タイトル</th>
      <th><%= @post.title %></th>
    </tr>
    <tr>
      <th>本文</th>
      <th><%= @post.text %></th>
    </tr>
    <tr>
      <th>投稿日時</th>
      <th><%= @post.created_at.strftime('%Y/%m/%d') %></th>
    </tr>
    <tr>
      <th>カテゴリー</th>
      <th><% @post.categories.each do |category| %>
        <%= category.name %>/
        <% end %></th>
    </tr>
    <tr>
      <td><div id="index_favorite_<%= @post.id %>">
            <%= render 'favorites/favorite', post: @post, posts: @posts %>
          </div></td>
    </tr>
  </table>
  <%= link_to '投稿情報編集',edit_post_path(@post),class: "btn btn-outline-secondary fas fa-user-cog edit_user_#{@post.id}" %><br>
  <br>
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">コメント</h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'post_comments/index', locals: { post_comments: @post_comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">コメントを投稿する</h3>
            <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post: @post, newpost_comment: @newpost_comment } %>
        </div>
    <% end %>
</div>