<header class="shadow-sm" style="height:90px;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.jpg', :size =>'210x60' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to posts_path, class: 'nav-link text-dark' do %>投稿一覧<%= image_tag 'eb.jpg', :size =>'20x20' %><% end %></li>
            <li class="nav-item"><%= link_to users_path, class: 'nav-link text-dark' do %>ユーザー一覧<%= image_tag 'bro.jpg', :size =>'20x20' %><% end %></l>
            <li class="nav-item"><%= link_to categories_path, class: 'nav-link text-dark' do %>カテゴリー一覧<%= image_tag 'chikin2.jpg', :size =>'20x20' %><% end %></li>
            <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>ログアウト<%= image_tag 'eggg.jpg', :size =>'20x20' %><% end %></li>
          <% else %>
            <li><%= link_to "ABOUT", home_about_path, class: 'nav-link text-dark' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %></li>
          <% end %>
          </ul>
        </div>
     </div>
  </nav>
</header>
