<div class="col-md-2 col-lg-2">
  <% if user_signed_in? %>
    <%= link_to "新規投稿", new_post_path, class: 'nav-link text-dark' %><br>
    <%= link_to "マイページ", user_path(current_user), class: 'nav-link text-dark' %><br>
    <nav class="navbar.navbar-default.navbar-fixed-top">
        <ul class="nav.navbar-nav.navbar-right">
          <li class="dropdown" role='presentation'>
            <a class="dropdown-toggle" data-toggle='dropdown' href='#' role='button' aria-expanded='false'></a>
              <i class="fas.fa-list-ul"></i>
              <span>
                カテゴリーから探す
              </span>
              <span class="caret">
                <ul class="dropdown-menu" role='menu'>
                  <li role='presentation'>
                　<% Category.where(ancestry: nil).each do |parent| %>
                  <%= link_to parent.name, root_path, id: "#{parent.id}", class: 'parent-category' %>
                  <% end %>
                  </li><br>
                  <li role='presentation' class='children-list'></li>
                  <br>
                  <li role='presentation' class='grandchildren-list'></li>
                </ul>
              </span>
          </li>
        </ul>
      </nav>
      <table class='table'>
        <tr><%= attachment_image_tag(current_user, :profile_image, :fill, 100, 100, fallback: "noimage.jpeg", size:'100x100') %></tr>
        <tr>
      	  <th>名前</th>
      	  <th><%= current_user.name %></th>
        </tr>
        <tr>
      	  <th>自己紹介</th>
      	  <th><%= current_user.introduction %></th>
      	</tr>
      	<tr>
      	  <th>フォロー</th>
      	  <th><%= link_to following_user_path(current_user) do %>
      	  <%= current_user.following.count %><% end %></th>
      	 </tr>
      	 <tr>
      	  <th>フォロワー</th>
      	  <th><%= link_to followers_user_path(current_user) do %>
      	  <%= current_user.followers.count %><% end %></th>
        </tr>
      </table>

        <%= link_to '',edit_user_path(current_user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{current_user.id}" %>
  <% end %>
  </div>